table{

	border-collapse: collapse;
  }
  
  td{
  width: 65px;
  height:65px;
  border: 1px solid black;
  
  
  }
  #wrapper{
	margin: 0 auto;
  }
  h1{
  text-align: center;
  font: italic  1.5rem/1.5 "Arial";
  }
  .kolko{
  background-image: url("http://szpulkashow.pl/imgPen/kolko1.png");
  }
  .krzyzyk{
  background-image: url("http://szpulkashow.pl/imgPen/krzyzyk1.png");
  }
  .winnerK{
  background-image: url("http://szpulkashow.pl/imgPen/kolkoR1.png");
  animation: winner 500ms ease-in-out  3;}
  .winnerKrz{
  background-image: url("http://szpulkashow.pl/imgPen/krzyzykR1.png");
  animation: winner 500ms ease-in-out 3;}
  #wrapper{
	width:199px;
	position:relative;
  }
  button{
	display:block;
	margin: 15px auto;
  text-align: center;
  padding: 15px;
  background-color: pink;
  border:none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  }
  .clear{
  animation: clear 1s ease-in-out forwards;
  
  }
  @keyframes winner {
  0% {opacity:0;}
  100%{opacity:1;}
  }
  
  @keyframes cross {
  0%{width: 0;}
  100%{width: 199px;}
  }
  
  
  @keyframes clear{
  0%{opacity:1;}
  100%{opacity:0;}
  }